body
{
    font-family: 'Open Sans', Helvetica, sans-serif;

    color: #282828;
    background: #f2f2f2;

}

a
{
    text-decoration: none;

    color: inherit;
}

#navigation
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: calc(100% - 60px);
    padding: 10px 30px;

    background: white;
    box-shadow: 0 1px 2px #c6c6c6;
}

nav
{
    float: right;

    margin-top: 3px;

    vertical-align: top;

    color: black;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    font-size: 11pt;

    display: inline;

    padding: 0 15px;
}

nav li a:hover
{
    color: gray;
}

nav li img
{
    max-width: 25px;
    margin-right: 10px;

    vertical-align: top;

    border-radius: 100px;
}

.nav_username{
    display: inline-block;
}

#page_content
{
    margin-top: 80px;
    width: 100%;
}

#page_content section
{
    padding: 80px 20px;
}

#page_content .section_container
{
    overflow: auto; /* Garante que a secção expande para conter o conteudo */

    width: 800px;
    max-width: calc(100% - 40px);
    margin: auto;
}

.section_title
{
    margin-bottom: 30px;
}

.section_title h1
{
    font-weight: normal;

    margin: 0;

    color: #3585c3;
}

.section_title h2
{
    font-size: 14px;
    font-weight: normal;

    margin: 0;
}

.overview_info_container
{
    display: inline-block;

    width: calc(50% - 10px);
    margin-bottom: 20px;

    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 2px #c6c6c6;
}

.left_info_container
{
    float: left;
}

.right_info_container
{
    float: right;
}

.overview_info_title
{
    font-family: 'Open Sans semibold', Helvetica, sans-serif;
    font-size: 14px;

    padding: 14px;

    border-bottom: 1px solid #c8c8c8;
}

.overview_info_subtitle
{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;

    color: gray;
    margin-left: 10px;
}

.overview_info_entry_container
{
    font-family: 'Open Sans semibold', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;

    padding: 10px 14px;
}

.overview_info_entry_positive
{
    color: green;
}

.overview_info_entry_negative
{
    color: rgb(190, 0, 0);
}

table
{
    font-size: 14px;

    width: 100%;

    text-align: left;

    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 3px;
}

table thead
{
    font-family: 'Open Sans semibold', Helvetica, sans-serif;

    color: white;
    background: #6096cd;
}

tbody tr:hover{
    background: white;
}

.selected_table_row{
    font-weight: bold;
    background: #c8dff5;
}

.selected_table_row:hover{
    font-weight: bold;
    background: #c8dff5;
}

table th
{
    padding: 8px;
}

td
{
    padding: 8px;

    border-bottom: 1px solid gray;
}

.table_filter
{
    margin-bottom: 10px;
}

.table_filter select
{
    height: 32px;
    margin-left: 5px;
    padding: 0 10px;

    vertical-align: top;

    border: 1px solid gray;
    border-radius: 3px;
}

.table_filter select:focus
{
    outline: none;
}

#search_bar
{
    display: inline-block;

    width: 200px;
    max-width: 100%;
    padding: 3px 0;

    border: 1px solid gray;
    border-radius: 3px;
    background: white;
}

#search_bar img
{
    margin-left: 5px;

    vertical-align: top;
}

#search_bar input
{
    display: inline-block;

    width: calc(100% - 50px);
    height: 100%;

    border: none;
}

#search_bar input:focus
{
    outline: none;
}

.table_actions
{
    float: right;

    vertical-align: top;
}

.table_actions button
{
    font-size: 14px;
    line-height: 32px;

    display: inline-block;

    height: 32px;
    margin-left: 5px;
    padding: 0 10px;

    border: 1px solid gray;
    border-radius: 3px;
    background: white;
}

.disabled_button{
    opacity: 0.6;
}

.table_actions_button:hover
{
    color: white;
    border-color: #6096cd;
    background: #6096cd;
}

.table_actions_button:active
{
    opacity: .8;
}

.table_actions_button:focus
{
    outline: none;
}

.player_status_banned
{
    color: #c12d2d;
}

footer
{ 
    position:fixed;
    bottom:0;
    left:0;

    height: 25px;
    line-height: 25px;

    width: 100%;

    font-size: 12px;

    text-align: center;

    color: #bdbdbd;
    background: #282828;
}

.footer_highlight
{
    color: white;
}

footer a:hover
{
    color: #6096cd;
}

#dark_pane
{
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    background: rgba(0,0,0,.7);
}

.form_container
{
    position: relative;
    z-index: 150;

    display: none;

    margin-top: 100px;
    padding: 40px 80px;

    text-align: center;

    opacity: 1;
    border-radius: 25px;
    background: white;
}

.form_exit
{
    position: absolute;
    top: 10px;
    right: 20px;
}

.form_title
{
    font-size: 14px;

    float: left;

    margin-bottom: 10px;
}

form input
{
    margin-bottom: 10px;
    padding: 12px 8px;

    border: none;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}

form input[type = 'date']
{
    width: 168px;
    height: 20px;
}

.form_label
{
    font-size: 12px;

    float: left;
}

form select
{
    width: 184px;
    padding: 12px 6px;
}

form input::placeholder
{
    color: #bfbfbf;
}

:-ms-input-placeholder
{
    /* Internet Explorer 10-11 */
    color: #bfbfbf;
}

::-ms-input-placeholder
{
    /* Microsoft Edge */
    color: #bfbfbf;
}

form button
{
    font-size: 14px;
    line-height: 40px;

    float: right;

    height: 40px;
    margin-left: 5px;
    padding: 0 25px;

    color: white;
    border: none;
    border-radius: 3px;
    background: #6096cd;
}

form button:hover
{
    opacity: .7;
}

form input:focus
{
    outline: none;
}


@media screen and (max-width: 768px)
{
    nav
    {
        z-index: 0;
        top: 5px;
        right: 5px;
    }

    nav::before
    {
        font-size: 1.4em;

        position: absolute;
        z-index: 998;
        top: 25px;
        right: 20px;

        content: '\2630';
    }

    nav:hover ul{
        display: inline-block;
    }

    nav ul
    {
        position: absolute;
        z-index: 999;
        top: 63px;
        right: 0; 

        width: 100%;

        color: white;
        background: #282828;
        display: none;
    }

    nav ul li
    {
        font-size: .8em;

        display: block;

        padding: 10px 10px;

        border-top: 1px solid #b6b6b6;
    }

    #nav_separator
    {
        display: none;
    }

    nav li img
    {
        max-width: 20px;
    }
}


@media screen and (max-width: 650px)
{
    .overview_info_container
    {
        width: 100%;
    }

    .table_actions
    {
        width: 100%;
        margin-top: 10px;
    }

    .table_actions_button
    {
        font-size: 12px;
        line-height: 25px;

        height: 25px;
        margin-bottom: 10px;
    }
}
